In [10]:
import pandas as pd
import numpy as np

- 데이터 불러오기

In [11]:
us=pd.read_csv("problem2_usage.csv")
us.head(3)

#timestamp->날짜로 변환
us['time']=pd.to_datetime(us['timestamp'], unit='s')

#날짜 순서대로 정렬
us=us.sort_values('time').reset_index(drop=True)
us.head(3)

    timestamp      usage                time
0  2524629540  1654.2596 2050-01-01 05:59:00
1  2524651140  1426.9071 2050-01-01 11:59:00
2  2524672740  1448.2517 2050-01-01 17:59:00

In [12]:
ush=pd.read_csv('problem2_usage_history.csv')
ush.head(3)

   hh:mm 6hour_index       A       B       C       D       E
0  00:00   DA_588493  0.0000  0.0000  0.0000  0.0000  0.0000
1  00:01   DA_588493  0.7025  0.8029  0.6523  2.6762  0.1505
2  00:02   DA_588493  1.7563  1.2043  1.9570  3.2115  0.6022

In [13]:
ush=ush[ush['hh:mm'].isin(['05:59', '11:59', '17:59', '23:59'])]
ush.loc[:, 'total']=ush.iloc[:, 2:].sum(axis=1).round(4)

In [14]:
ush

,hh:mm,6hour_index,A,B,C,D,E,total
359,05:59,DA_588493,350.9036,401.0326,217.2260,534.7102,150.3872,1654.2596
719,11:59,DA_9340234,835.9658,216.1980,158.5453,144.1320,72.0660,1426.9071
1079,17:59,DA_3352244,234.0609,833.8419,248.6897,117.0304,14.6288,1448.2517
1439,23:59,DA_9075768,162.1927,297.3533,94.6124,716.3510,67.5803,1338.0897
1799,05:59,DA_6294458,269.1807,490.8591,63.3366,142.5075,601.6981,1567.5820
...,...,...,...,...,...,...,...,...
524159,23:59,DA_6116290,125.7840,67.0849,75.4704,394.1233,167.7121,830.1747
524519,05:59,DA_5064240,505.7466,82.0129,109.3506,437.4025,218.7012,1353.2138
524879,11:59,DA_8363908,110.4847,501.4306,16.9977,144.4800,67.9906,841.3836
525239,17:59,DA_7102720,639.6188,232.5887,72.6839,421.5669,72.6840,1439.1423
525599,23:59,DA_2650332,56.7894,359.6662,321.8066,302.8767,832.9112,1874.0501

- 조인

In [21]:
ush=ush.rename(columns={'t':'usage'}).reset_index(drop=True)
pd.merge(ush, us)
us

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [22]:
us

       timestamp      usage                time
0     2524629540  1654.2596 2050-01-01 05:59:00
1     2524651140  1426.9071 2050-01-01 11:59:00
2     2524672740  1448.2517 2050-01-01 17:59:00
3     2524694340  1338.0897 2050-01-01 23:59:00
4     2524715940  1567.5820 2050-01-02 05:59:00
...          ...        ...                 ...
1455  2556057540   830.1747 2050-12-30 23:59:00
1456  2556079140  1353.2138 2050-12-31 05:59:00
1457  2556100740   841.3836 2050-12-31 11:59:00
1458  2556122340  1439.1423 2050-12-31 17:59:00
1459  2556143940  1874.0501 2050-12-31 23:59:00

[1460 rows x 3 columns]

In [23]:
ush

,hh:mm,6hour_index,A,B,C,D,E,total
0,05:59,DA_588493,350.9036,401.0326,217.2260,534.7102,150.3872,1654.2596
1,11:59,DA_9340234,835.9658,216.1980,158.5453,144.1320,72.0660,1426.9071
2,17:59,DA_3352244,234.0609,833.8419,248.6897,117.0304,14.6288,1448.2517
3,23:59,DA_9075768,162.1927,297.3533,94.6124,716.3510,67.5803,1338.0897
4,05:59,DA_6294458,269.1807,490.8591,63.3366,142.5075,601.6981,1567.5820
...,...,...,...,...,...,...,...,...
1455,23:59,DA_6116290,125.7840,67.0849,75.4704,394.1233,167.7121,830.1747
1456,05:59,DA_5064240,505.7466,82.0129,109.3506,437.4025,218.7012,1353.2138
1457,11:59,DA_8363908,110.4847,501.4306,16.9977,144.4800,67.9906,841.3836
1458,17:59,DA_7102720,639.6188,232.5887,72.6839,421.5669,72.6840,1439.1423
1459,23:59,DA_2650332,56.7894,359.6662,321.8066,302.8767,832.9112,1874.0501